<!-- <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button> -->

<!-- <p-sidebar [(visible)]="sidebarVisible" styleClass="w-30rem"> -->

<div class="admin-sidebar">
    <div class="logo">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/dashboard"><i class="pi pi-home"></i>Dashboard</a>
            </li>
            <li>
                <a routerLink="/products-list"><i class="pi pi-briefcase"></i>Proudcts</a>
            </li>  
            <li>
                <a routerLink="/categories-list"><i class="pi pi-list"></i>Categories</a>
            </li>
            <li>
                <a routerLink="/orders-list"><i class="pi pi-shopping-cart"></i>Orders</a>
            </li>
            <li>
                <a routerLink="/users-list"><i class="pi pi-users"></i>Users</a>
            </li>
            <li>
                <a class="logout" (click)="logOut()"><i class="pi pi-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</div>

<!-- </p-sidebar> -->