<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]='editMode ? "Update Category" : "Create New Category"'
    subheader="You can add or edit categories here "
  >
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-end"></div>
          <div class="p-toolbar-group-end">
            <p-button
              styleClass="mr-2"
              
              icon="pi pi-plus"
              [label]="editMode ? 'Update' : 'New'"
              severity="primary"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              
              icon="pi pi-arrow-circle-left"
              label="Cancel"
              severity="secondary"
              (click)="onCancel()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>

    <form [formGroup]="form">
      <div class="formgrid grid">
        <div class="field col ">
          <label for="name">Name</label>
          <input
            formControlName="name"
            id="name"
            type="text"
            
            class="text-base text-color  p-2 border-1 border-solid  border-round  outline-none focus:border-primary w-full"
          />
          <small class="p-error" *ngIf="categoryForm.name.invalid && isSubmitted">Name is Required</small>
        </div>
        <div class="field col">
          <label for="icon">Icon</label>
          <input
            formControlName="icon"
            id="icon"
            type="text"
            class="text-base text-color  p-2 border-1 border-solid  border-round  outline-none focus:border-primary w-full"

          />
          <small class="p-error" *ngIf="categoryForm.icon.invalid && isSubmitted">Icon is Required</small>

        </div>

        <div class="field col">
          <label for="color">Icon</label><br>
          <p-colorPicker id="color" formControlName="color"></p-colorPicker>

        </div>

      </div>
    </form>
  </p-card>
</div>
